<html>
<head></head>
<body>
    <div id="header" style="background-color:rgba(146,146,146,1);">
    <h1 style="margin-bottom:0;height:80px;color:rgba(76,82,89,1);">Gambling Site</h1>
    </div>
    <h2 style="color:rgba(48,52,137,1);">Welcome to the gambling site</h2>
    <p style="color:rgba(48,52,137,1);font-size:25px"><a href="/login">login</a> to gamble</p>
    <p style="color:rgba(48,52,137,1);font-size:25px"><a href="/signup">sign up</a> to create account</p>
</body>
</html>